@font-face {
  font-family: '1942';
  src: font-url('1942.eot');
  src: font-url('1942.woff') format('woff'), url('1942.ttf') format('truetype'), url('1942.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HerrVonMuellerhoff-Regular';
  src: font-url('HerrVonMuellerhoff-Regular.eot');
  src: font-url('HerrVonMuellerhoff-Regular.woff') format('woff'), url('HerrVonMuellerhoff-Regular.ttf') format('truetype'), url('HerrVonMuellerhoff-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@mixin calc($key, $value) {
  #{$key}: -webkit-calc(#{$value});
  #{$key}: -moz-calc(#{$value});
  #{$key}: calc(#{$value});
}

.form-control{
 font-family:"Courier";
 opacity:1;
 border:1;
}
.login{
  color:#99ee99;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  background-color:#999933;
  opacity:0.5;
  width: 100%;
  padding:10px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid #999933;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#log-in-text{
  z-index:2;
  color:#999933;
   position:fixed;
   left: 20px;
   top:10px;
   text-align:center;
   height:60px;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
   font-size:3em;
}
#message-text{
  z-index:2;
  color:#999933;
   position:fixed;
   right: 20px;
   top:10px;
   text-align:center;
   height:60px;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
   font-size:3em;
}
#portfolio-text{
  z-index:2;
  color:#999933;
   position:fixed;
   left: 20px;
   bottom:10px;
   text-align:center;
   height:60px;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
   font-size:3em;
}
#news-text{
  z-index:2;
  color:#999933;
   position:fixed;
   right: 20px;
   bottom:10px;
   text-align:center;
   height:60px;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
   font-size:3em;
}
.menu-front{
  text-shadow: 0 -1px 0 #ffffff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.5);
}

.play-button{
   font-family:"HerrVonMuellerhoff-Regular";
   background:none;
   border:none;
  color:#999933;
   position:fixed;
   width:100%;
   text-align:center;
   top:0px;
   text-align:center;
   height:60px;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
   font-size:3em;
}

body {
   margin:0;
   padding:0;
   height:100%;
}
#con {
   min-height:100%;
   position:relative;
}
#content {
   @include calc("min-height", "100% - 60px");
   padding-bottom:60px;
}
#footer{
  position:absolute;
   bottom:0;
   width:100%;
   height:60px;
}
#copywrite{
  width:100%;
  text-align:center;
  font-family:"1942";
}
.shared-account-links{
  width:100%;
  text-align:center;
  font-family:"HerrVonMuellerhoff-Regular";
}
#form-actions{
text-align:center;
}
.btn{
font-family:"1942";
}
#main-home{
  width:100%;
  padding:0px;
  margin:0; 
}
#chat-panel{
  width:400px;
  float:right;
  margin-right:15px;
  background-color:rgba(0, 0, 0, 0.5);
}
#chat-panel-body{
  height:200px;
  overflow:auto;
}
#main-panel{
  width:calc(100% - 440px);
  float:left;
  margin-left:15px;
  background-color:rgba(0, 0, 0, 0.5);
}
#main-panel-body{
  height:500px;
  overflow:auto;
}
.transparent {
  background-color:rgba(0, 0, 0, 0.5);
}
.opaque {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}
#user-form {
  color: #ffffff;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.form-left{
  width:49%;
  float:left;
  padding-top:5px;
  padding-right:1%;
}
.form-right{
  width:50%;
  float:right;
  height:400px;
  overflow:auto;
  margin-bottom:10px;
}
.form-actions{
  clear:both;
  text-align:right;
}
.control-label{
  font-family:"HerrVonMuellerhoff-Regular";
  font-size:2em;
  font-weight:normal;
}
.menu-front{
  font-family:"HerrVonMuellerhoff-Regular";
  font-size:2em;
}
h3{
  font-family:"1942";
}

html {
 overflow-x: hidden;
}
.ng-pageslide {
  margin-top:50px;
  padding-right:10px;
}
body.ng-pageslide-body-open::before {
  content: '.';
  display: block;
  position: absolute;
  top: 0;
  background-color: rgb(0,0,0);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.5;
  transition: opacity 2s;
  }
body.ng-pageslide-body-closed::before {
  transition: opacity 2s;
  opacity: 0;
  content: '.';
  display: block;
  position: absolute;
  top: 0;
  background-color: rgb(0,0,0);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  }