@mixin calc($key, $value) {
  #{$key}: -webkit-calc(#{$value});
  #{$key}: -moz-calc(#{$value});
  #{$key}: calc(#{$value});
}
.login{
  width: 25%;
  padding-left:10px;
}
body {
   margin:0;
   padding:0;
   height:100%;
}
#con {
   min-height:100%;
   position:relative;
}
#content {
   @include calc("min-height", "100% - 60px");
   padding-bottom:60px;
}
#footer{
  position:absolute;
   bottom:0;
   width:100%;
   height:60px;
}
#main-home{
  width:100%;
  padding:0px;
  margin:0; 
}
#chat-panel{
  width:400px;
  float:right;
  margin-right:15px;
  background-color:rgba(0, 0, 0, 0.5);
}
#chat-panel-body{
  height:200px;
  overflow:auto;
}
#main-panel{
  width:calc(100% - 440px);
  float:left;
  margin-left:15px;
  background-color:rgba(0, 0, 0, 0.5);
}
#main-panel-body{
  height:500px;
  overflow:auto;
}
.transparent {
  background-color:rgba(0, 0, 0, 0.5);
}
.opaque {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}
#user-form {
  color: #ffffff;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.form-left{
  width:49%;
  float:left;
  padding-top:5px;
  padding-right:1%;
}
.form-right{
  width:50%;
  float:right;
  height:400px;
  overflow:auto;
  margin-bottom:10px;
}
.form-actions{
  clear:both;
  text-align:right;
}
